{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block description %}Catalog{% endblock %}

{% block keywords %}ElectroTech, Catalog, Produits{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des produits</h1>
{% endblock %}