{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Commande{% endblock %}

{% block description %}Commande{% endblock %}

{% block keywords %}ElectroTech, Commande, Produits{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Ma commande</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                Formulaire : adresse et livreur
            </div>
            <div class="col-md-9">
                Recap 
            </div>
        </div>
    </div>
{% endblock %}