{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Cart{% endblock %}

{% block description %}Cart{% endblock %}

{% block keywords %}ElectroTech, Cart, Produits{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Panier</h1>
{% endblock %}